@import "tailwindcss";

@theme {
  --color-background-primary: #111111;
  --color-background-secondary: #1b1b1b;
  --color-background-tertiary: #303030;
  --color-border-primary: #303030;
  --color-content-primary: #ffffff;
  --color-content-body: #e2e2e2;
  --color-content-heading: #c6c6c6;
  --color-content-muted: #5e5e5e;
  --color-content-placeholder: #777777;
  --color-content-inverse: #111111;
  --color-accent-brand: #c4f120;
  --color-accent-brand-hover: #a8d30d;
  --color-accent-red: #e61e32;
}
